/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color-: #000028;
  --accent-color-header: #db00ff;
  --accent-color-header_shadow: #ff0070;
  --menu-theme-button: #ff0070;
  --decoration-element: #ff0070;
  --section-title: #ff0070;
  --article-title: #000028;
  --article-title-bacground: #ff0070;
  --accent-color-text: #f1b2ce;
  --accent-background-image: url(../images/cover-image-dark.png);
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
