.header__theme-menu-button:hover {
    outline: 1px solid var(--menu-theme-button);
    outline-offset: 2px;
    cursor: pointer;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--menu-theme-button);
    outline: none;
}

.header__theme-menu-button:focus {
    outline: none;
}

.information_link {
    text-shadow: 2px 3px var(--article-title-bacground);
    text-decoration: none;
}
.information_link:hover {
    border-block-end: 1px solid var(--accent-color-text);
}

.information_link:focus-visible {
    outline: 1px solid var(--accent-color-text);
}

.information_link:focus {
    outline: none;
}
